useDynLib(fpopTree, .registration = TRUE)

export(fpopTree)
export(BinaryTree, RandomTree)
export(gauss_binaryTree, tree_time)

importFrom(Rcpp, evalCpp)
importFrom("stats", "rnorm", "rexp", "rpois", "rnbinom", "mad", "sd")
importFrom("graphics", "plot", "segments")
